<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ejercicio Practico Evaluable</h1>
    <a href="/videojuegos">Videojuego</a>
  </body>
</html>
